.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  width: 16rem;
}

.nav-link {
  font-weight: 700;
  letter-spacing: 0.6px;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
  color: white;
}

.navbar li a {
  color: white !important;
  margin-right: 1%;
  margin-left: 30px;
  padding-right: 1%;
  white-space: nowrap;
  border-top: 3px solid #282c34;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0;
}

.navbar-nav li a:focus {
  border-top: 3px solid orange;
}

.navbar-nav li a:hover {
  border-top: 3px solid orange;
}
